<a href="https://colab.research.google.com/github/ivan0474/Act1_1_PGY3121/blob/main/SOLUCIONARIO_Gu%C3%ADa_1_Sucesiones_Aritm%C3%A9ticas_y_Geom%C3%A9tricas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **SUCESIONES ARITMÉTICAS**

# **Ejercicio 11**

Considere la sucesión aritmética 25,72; 26,93; 28,14;... Determine:

a) La diferencia aritmética.

b) La expresión algebraica del término de lugar n.

c) Calcule el término del lugar 50 con dos códigos de Python diferentes. El
primero de ellos con la expresión algebraica del término de lugar n y el
segundo de manera recursiva y compare los tiempos de ejecución.

d) ¿Qué lugar ocupa en esta sucesión el término 411,71?

In [ ]:
# a)
a1 = 25.72
a2 = 26.93
a3 = 28.14

d1 = a3-a2
d2 = a2-a1
print(d1,d2)
d = 1.21

1.2100000000000009 1.2100000000000009

In [ ]:
# b) an = 25.72 + (n-1)*1.21

In [ ]:
# c)
a50 = 25.72 + (50-1)*1.21
print(a50)

85.00999999999999

In [ ]:
a = []
for i in range(1):
  n = i + 50
  a.append(25.72 + (n-1)*1.21)
  print(f"a({n})={a[i]}")

a(50)=85.00999999999999

In [ ]:
a = []
for i in range(10):
  n = i + 315
  a.append(25.72 + (n-1)*1.21)
  print(f"a({n})={a[i]}")

a(315)=405.65999999999997
a(316)=406.87
a(317)=408.08000000000004
a(318)=409.28999999999996
a(319)=410.5
a(320)=411.71000000000004
a(321)=412.91999999999996
a(322)=414.13
a(323)=415.34000000000003
a(324)=416.54999999999995

# **Ejercicio 12**

En una sucesión aritmética, la diferencia entre un término y el anterior es 4 y el décimo término es −20. Determine:

a) El primer término.

b) La expresión del término de lugar n.

c) El término que ocupa el lugar 100. Utilice un código de forma recursiva y
otro con el término de lugar n.

d) ¿Qué lugar ocupa en esta sucesión el término 1.680?

In [ ]:
a1 = -20 - (10-1)*4
print(a1)

-56

In [ ]:
#b) an = -56 + (n-1)*4

In [ ]:
# c)
a100 = -56 + (100-1)*4
print(a100)

340

In [ ]:
# d)
a = []
for i in range(10):
  n = i + 430
  a.append(-56 + (n-1)*4)
  print(f"a({n})={a[i]}")

a(430)=1660
a(431)=1664
a(432)=1668
a(433)=1672
a(434)=1676
a(435)=1680
a(436)=1684
a(437)=1688
a(438)=1692
a(439)=1696

**Ejercicio Adicional**

Para la secuencia $t_{n}$ = 6 , 10 , 14, encuentre:

a) La diferencia aritmética

b) La expresión general

c) El término que se ubica en la posición 20

d) ¿En qué posición se ubica el término 202?

In [ ]:
# a)
a1 = 6
a2 = 10
a3 = 14

d1 = a3-a2
d2 = a2-a1
print(d1,d2)
d = 4

4 4

In [ ]:
# an = 6 + (n-1)*4

In [ ]:
a20 = 6 + (20-1)*4
print(a20)

82

In [ ]:
# d)
a = []
for i in range(10):
  n = i + 48
  a.append(6 + (n-1)*4)
  print(f"a({n})={a[i]}")

a(48)=194
a(49)=198
a(50)=202
a(51)=206
a(52)=210
a(53)=214
a(54)=218
a(55)=222
a(56)=226
a(57)=230

# **SUCESIONES GEOMÉTRICAS**

# **Ejercicio 13**

Considere la sucesión geométrica: 4, 6, 9, . . . Determine:

a) La razón geométrica.

b) La expresión del término de lugar n.

c) El término de lugar 60. Calcule con la forma directa y con la forma
recursiva, compare los tiempos de ejecución.

d) ¿Qué lugar ocupa en esta sucesión el término 68,34375? Use logaritmo

In [ ]:
# a)
a1 = 4
a2 = 6
a3 = 9

r1 = a3/a2
r2 = a2/a1
print(r1,r2)

r = 1.5

1.5 1.5

In [ ]:
# an = 4*1.5**(n-1)

In [ ]:
a60 = 4*1.5**(60-1)
print(a60)

98049249911.8214

In [ ]:
import math

an = 68.34375
a1 = 4
r = 1.5
n = math.log(an/a1, r) + 1
print(n)

7.999999999999999

In [ ]:
# forma 2
a = []
for i in range(10):
  n = i + 1
  a.append(4*1.5**(n-1))
  print(f"a({n})={a[i]}")

a(1)=4.0
a(2)=6.0
a(3)=9.0
a(4)=13.5
a(5)=20.25
a(6)=30.375
a(7)=45.5625
a(8)=68.34375
a(9)=102.515625
a(10)=153.7734375

# **Problema 14**

El tercer término de una sucesión geométrica es 5 y el sexto término es 40.
Determine:

a) La razón geométrica. Analice cuántos pasos hay entre ambos términos que
se indican.

b) El primer término.

c) La expresión del término de lugar n.

d) El octavo término. Calcule con la forma que estime conveniente.

e) ¿Qué lugar ocupa en esta sucesión el término 20.480? Use logaritmo.

In [ ]:
an = 5
r = 2
n = 3
a1 = an/r**(n-1)
print(a1)

1.25

In [ ]:
# an = 1.25*2**(n-1)

In [ ]:
a8 = 1.25*2**(8-1)
print(a8)

160.0

In [ ]:
import math

an = 20480
a1 = 1.25
r = 2
n = math.log(an/a1, r) + 1
print(n)

15.0

In [ ]:
# forma 2
a = []
for i in range(10):
  n = i + 10
  a.append(1.25*2**(n-1))
  print(f"a({n})={a[i]}")

a(10)=640.0
a(11)=1280.0
a(12)=2560.0
a(13)=5120.0
a(14)=10240.0
a(15)=20480.0
a(16)=40960.0
a(17)=81920.0
a(18)=163840.0
a(19)=327680.0

# **Problema 16**

La tasa de crecimiento de la población de una ciudad es del 2% anual. Si la población actual es de 600.000 habitantes, se pide:

a) Si $a_{n}$ representa la población al cabo de n años, determine los tres primeros términos de esta sucesión.

b) Indicar qué tipo de sucesión modela la población de dicha ciudad. Justifique su respuesta.

c) Escribir la expresión algebraica del término de lugar $a_{n}$.

d) Determinar cuántos habitantes aproximadamente tendrá dentro de quince años.

e) ¿Cuántos años aproximadamente deben transcurrir para que la población alcance los 1.351.320 habitantes?

In [ ]:
a0 = 600000
a1 = a0*1.02
a2 = a1*1.02
a3 = a2*1.02
print(a1,a2,a3)

612000.0 624240.0 636724.8

In [ ]:
a1 = 612000
a2 = 624240
a3 = 636724.8

r1 = a3/a2
r2 = a2/a1
print(r1,r2)

r = 1.02

# es una sucesión geométrica, ya que su razón es constante (r = 1.02)

1.02 1.02

In [ ]:
# an = 612000*1.02**(n-1)

In [ ]:
a15 = 612000*1.02**(15-1)
print(a15)

807521.0029944779

In [ ]:
import math

an = 1351320
a1 = 612000
r = 1.02
n = math.log(an/a1, r) + 1
print(n)

40.999989755774436

In [ ]:
# forma 2
a = []
for i in range(10):
  n = i + 35
  a.append(612000*1.02**(n-1))
  print(f"a({n})={a[i]}")

a(35)=1199933.7315974738
a(36)=1223932.4062294234
a(37)=1248411.0543540118
a(38)=1273379.2754410922
a(39)=1298846.8609499137
a(40)=1324823.798168912
a(41)=1351320.2741322904
a(42)=1378346.6796149365
a(43)=1405913.613207235
a(44)=1434031.8854713799